@charset "UTF-8";


body{
	background-image: url("../images/wallpaper-patter.jpg");
	
}

h1{}
.myfont{	
	margin-top: -20px;
	font-family: 'Lexend Mega', sans-serif;
	
}
nav{
	display: flex;
	flex-direction: row;
	
	
	
}

.mybut{
    width: 120px;
    height: 58px;
    background-color: aquamarine;
    border-radius: 13px;
	font-size: 20pt; 
	margin-left: 12px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.gotifont{
	text-decoration: none;
	
	color: #CC6E38; 
	
	
}

.myheader{
	background-color: #FFE34F;
	background-image: url("../images/city.png");
	width: 900px;
	height: 264px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	padding-bottom: 20px;
}
.mycontent{
	background-color: #FFE34F;
	width: 876px;
	height: 864px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 12px;
	padding-right: 12px;
	
	
	
}
.goodguy{float: left;
	padding-right: 12px;
	

}
